{% extends 'base.html' %} {% load static %} {% block title %} Contact Us | Modern Clinic {% endblock title %} {% block
content %}
<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Get In Touch</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container contact-form">
                    <form action="">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Your Name" required />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Phone Number" required />
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="email" placeholder="Email" required />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" required />
                        </div>
                        <div class="btn_box">
                            <button onclick="msgSubmit()">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.71849957953!2d76.13611963117589!3d9.982331530928539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1686223522979!5m2!1sen!2sin"
                            width="100%"
                            height="100%"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->

<script>
    // contact form submit
    function msgSubmit() {
        alert("Thank You, Your response was submitted!");
    }
    console.log(msgSubmit);
</script>

{% endblock content %}
